# Online Payment Fraud Detection

## Object

- As we are approaching modernity, the trend of paying online is increasing tremendously. It is very beneficial for the buyer  to pay online as it saves time, and solves the problem of free money. Also, we do not need to carry cash with us.But we all know that Good thing are accompanied by bad things.

# Dataset description

The Dataset used for this project consists of the following columns:

- Step
- type
- amount
- nameOrig
- oldbalanceOrg
- newbalanceOrig
- nameDest
- oldbalanceDest
- newbalanceDest
- isFraud
- isFlaggedFraud

## Steps

- Importing libraries

- Read Data

- Data Preprocessing 

- Outlayer Dectection

- Feature Engineering

- Featuer encoding

- Train_Test_Split

- Model Training

- Prediction

##  Importing libraries

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
# using pandas to read the data
df=pd.read_csv('E:\Rajalakshmi\PROJECT\online fraud payment.csv')

In [13]:
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
9994,7,PAYMENT,115.38,C150330556,249688.0,249572.62,M714481123,0.0,0.0,0,0
9995,7,PAYMENT,466.73,C517929856,881.0,414.27,M2128130537,0.0,0.0,0,0
9996,7,PAYMENT,8239.66,C1483641522,11515.0,3275.34,M1108211033,0.0,0.0,0,0
9997,7,PAYMENT,6063.34,C728110179,31409.0,25345.66,M277524255,0.0,0.0,0,0
9998,7,TRANSFER,317806.64,C1021138110,10901.0,0.00,C1935506329,103168.0,0.0,0,0

# Train Test Split

In [14]:
Y =df['step'].copy()
X =df.drop('step',axis=1).copy()

train,test= train_test_split(df, train_size=0.7, shuffle=True, random_state=123)

In [16]:
train.to_csv('E:/Rajalakshmi/PROJECT/file/train/rawtrain.csv',index=False)
test.to_csv('E:/Rajalakshmi/PROJECT/test/raw/test.csv',index=False)